<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>nkjbk</title>
  </head>
  <style>
      #is{
          border: solid black;
      }
  </style>
  <body>
  <div class="container">
      <div class="row">
          <div class="offset-lg-3 col-md-3">

              <h1>Hello Word...</h1>
          </div>

      </div>
      <div class="row">
          <div id="is" class="offset-3 col-md-3">

              <h1>Python</h1>
          </div>

      </div>

  </div>

  </body>
</html>
